/*
 * CSS Transform - Scale and Rotate
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
  font-family: "Microsoft YaHei", "Arial-normal", "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #222222;
  background-color: #efefef;
}
a {
  background-color: transparent;
  color: #2196f3;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
p,
form,
ul,
ol,
dl,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
}
form,
ul,
ol,
dl {
  padding: 0;
}
img {
  border: 0;
  vertical-align: middle;
}
hr {
  box-sizing: content-box;
  height: 0;
}
button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button,
select {
  text-transform: none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.bh-clearfix,
.bh-container,
.bh-row {
  clear: both;
}
.bh-clearfix:before,
.bh-clearfix:after,
.bh-container:before,
.bh-container:after,
.bh-row:before,
.bh-row:after {
  content: " ";
  display: table;
}
.bh-clearfix:after,
.bh-container:after,
.bh-row:after {
  clear: both;
}
.bh-center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bh-pull-right {
  float: right !important;
}
.bh-pull-left {
  float: left !important;
}
.bh-hide {
  display: none !important;
}
.bh-show {
  display: block !important;
}
.bh-str-cut {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bh-container {
  margin-right: auto;
  margin-left: auto;
  margin-top: 8px;
  margin-bottom: 24px;
  padding-left: 8px;
  padding-right: 8px;
}
.bh-row {
  margin-left: -8px;
  margin-right: -8px;
}
.bh-fm-compact .bh-col-xs-1, .bh-fm-compact .bh-col-sm-1, .bh-fm-compact .bh-col-md-1, .bh-fm-compact .bh-col-lg-1, .bh-fm-compact .bh-col-xs-2, .bh-fm-compact .bh-col-sm-2, .bh-fm-compact .bh-col-md-2, .bh-fm-compact .bh-col-lg-2, .bh-fm-compact .bh-col-xs-3, .bh-fm-compact .bh-col-sm-3, .bh-fm-compact .bh-col-md-3, .bh-fm-compact .bh-col-lg-3, .bh-fm-compact .bh-col-xs-4, .bh-fm-compact .bh-col-sm-4, .bh-fm-compact .bh-col-md-4, .bh-fm-compact .bh-col-lg-4, .bh-fm-compact .bh-col-xs-5, .bh-fm-compact .bh-col-sm-5, .bh-fm-compact .bh-col-md-5, .bh-fm-compact .bh-col-lg-5, .bh-fm-compact .bh-col-xs-6, .bh-fm-compact .bh-col-sm-6, .bh-fm-compact .bh-col-md-6, .bh-fm-compact .bh-col-lg-6, .bh-fm-compact .bh-col-xs-7, .bh-fm-compact .bh-col-sm-7, .bh-fm-compact .bh-col-md-7, .bh-fm-compact .bh-col-lg-7, .bh-fm-compact .bh-col-xs-8, .bh-fm-compact .bh-col-sm-8, .bh-fm-compact .bh-col-md-8, .bh-fm-compact .bh-col-lg-8, .bh-fm-compact .bh-col-xs-9, .bh-fm-compact .bh-col-sm-9, .bh-fm-compact .bh-col-md-9, .bh-fm-compact .bh-col-lg-9, .bh-fm-compact .bh-col-xs-10, .bh-fm-compact .bh-col-sm-10, .bh-fm-compact .bh-col-md-10, .bh-fm-compact .bh-col-lg-10, .bh-fm-compact .bh-col-xs-11, .bh-fm-compact .bh-col-sm-11, .bh-fm-compact .bh-col-md-11, .bh-fm-compact .bh-col-lg-11, .bh-fm-compact .bh-col-xs-12, .bh-fm-compact .bh-col-sm-12, .bh-fm-compact .bh-col-md-12, .bh-fm-compact .bh-col-lg-12 {
  padding-left: 0;
  padding-right: 0;
}
.bh-fm-compact label.bh-col-xs-1, .bh-fm-compact label.bh-col-sm-1, .bh-fm-compact label.bh-col-md-1, .bh-fm-compact label.bh-col-lg-1, .bh-fm-compact label.bh-col-xs-2, .bh-fm-compact label.bh-col-sm-2, .bh-fm-compact label.bh-col-md-2, .bh-fm-compact label.bh-col-lg-2, .bh-fm-compact label.bh-col-xs-3, .bh-fm-compact label.bh-col-sm-3, .bh-fm-compact label.bh-col-md-3, .bh-fm-compact label.bh-col-lg-3, .bh-fm-compact label.bh-col-xs-4, .bh-fm-compact label.bh-col-sm-4, .bh-fm-compact label.bh-col-md-4, .bh-fm-compact label.bh-col-lg-4, .bh-fm-compact label.bh-col-xs-5, .bh-fm-compact label.bh-col-sm-5, .bh-fm-compact label.bh-col-md-5, .bh-fm-compact label.bh-col-lg-5, .bh-fm-compact label.bh-col-xs-6, .bh-fm-compact label.bh-col-sm-6, .bh-fm-compact label.bh-col-md-6, .bh-fm-compact label.bh-col-lg-6, .bh-fm-compact label.bh-col-xs-7, .bh-fm-compact label.bh-col-sm-7, .bh-fm-compact label.bh-col-md-7, .bh-fm-compact label.bh-col-lg-7, .bh-fm-compact label.bh-col-xs-8, .bh-fm-compact label.bh-col-sm-8, .bh-fm-compact label.bh-col-md-8, .bh-fm-compact label.bh-col-lg-8, .bh-fm-compact label.bh-col-xs-9, .bh-fm-compact label.bh-col-sm-9, .bh-fm-compact label.bh-col-md-9, .bh-fm-compact label.bh-col-lg-9, .bh-fm-compact label.bh-col-xs-10, .bh-fm-compact label.bh-col-sm-10, .bh-fm-compact label.bh-col-md-10, .bh-fm-compact label.bh-col-lg-10, .bh-fm-compact label.bh-col-xs-11, .bh-fm-compact label.bh-col-sm-11, .bh-fm-compact label.bh-col-md-11, .bh-fm-compact label.bh-col-lg-11, .bh-fm-compact label.bh-col-xs-12, .bh-fm-compact label.bh-col-sm-12, .bh-fm-compact label.bh-col-md-12, .bh-fm-compact label.bh-col-lg-12 {
  padding-left: 8px;
  padding-right: 8px;
}
.bh-col-xs-1, .bh-col-sm-1, .bh-col-md-1, .bh-col-lg-1, .bh-col-xs-2, .bh-col-sm-2, .bh-col-md-2, .bh-col-lg-2, .bh-col-xs-3, .bh-col-sm-3, .bh-col-md-3, .bh-col-lg-3, .bh-col-xs-4, .bh-col-sm-4, .bh-col-md-4, .bh-col-lg-4, .bh-col-xs-5, .bh-col-sm-5, .bh-col-md-5, .bh-col-lg-5, .bh-col-xs-6, .bh-col-sm-6, .bh-col-md-6, .bh-col-lg-6, .bh-col-xs-7, .bh-col-sm-7, .bh-col-md-7, .bh-col-lg-7, .bh-col-xs-8, .bh-col-sm-8, .bh-col-md-8, .bh-col-lg-8, .bh-col-xs-9, .bh-col-sm-9, .bh-col-md-9, .bh-col-lg-9, .bh-col-xs-10, .bh-col-sm-10, .bh-col-md-10, .bh-col-lg-10, .bh-col-xs-11, .bh-col-sm-11, .bh-col-md-11, .bh-col-lg-11, .bh-col-xs-12, .bh-col-sm-12, .bh-col-md-12, .bh-col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 8px;
  padding-right: 8px;
}
.bh-col-xs-1, .bh-col-xs-2, .bh-col-xs-3, .bh-col-xs-4, .bh-col-xs-5, .bh-col-xs-6, .bh-col-xs-7, .bh-col-xs-8, .bh-col-xs-9, .bh-col-xs-10, .bh-col-xs-11, .bh-col-xs-12 {
  float: left;
}
.bh-col-xs-12 {
  width: 100%;
}
.bh-col-xs-11 {
  width: 91.66666667%;
}
.bh-col-xs-10 {
  width: 83.33333333%;
}
.bh-col-xs-9 {
  width: 75%;
}
.bh-col-xs-8 {
  width: 66.66666667%;
}
.bh-col-xs-7 {
  width: 58.33333333%;
}
.bh-col-xs-6 {
  width: 50%;
}
.bh-col-xs-5 {
  width: 41.66666667%;
}
.bh-col-xs-4 {
  width: 33.33333333%;
}
.bh-col-xs-3 {
  width: 25%;
}
.bh-col-xs-2 {
  width: 16.66666667%;
}
.bh-col-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 768px) {
  .bh-col-sm-1, .bh-col-sm-2, .bh-col-sm-3, .bh-col-sm-4, .bh-col-sm-5, .bh-col-sm-6, .bh-col-sm-7, .bh-col-sm-8, .bh-col-sm-9, .bh-col-sm-10, .bh-col-sm-11, .bh-col-sm-12 {
    float: left;
  }
  .bh-col-sm-12 {
    width: 100%;
  }
  .bh-col-sm-11 {
    width: 91.66666667%;
  }
  .bh-col-sm-10 {
    width: 83.33333333%;
  }
  .bh-col-sm-9 {
    width: 75%;
  }
  .bh-col-sm-8 {
    width: 66.66666667%;
  }
  .bh-col-sm-7 {
    width: 58.33333333%;
  }
  .bh-col-sm-6 {
    width: 50%;
  }
  .bh-col-sm-5 {
    width: 41.66666667%;
  }
  .bh-col-sm-4 {
    width: 33.33333333%;
  }
  .bh-col-sm-3 {
    width: 25%;
  }
  .bh-col-sm-2 {
    width: 16.66666667%;
  }
  .bh-col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .bh-col-md-1, .bh-col-md-2, .bh-col-md-3, .bh-col-md-4, .bh-col-md-5, .bh-col-md-6, .bh-col-md-7, .bh-col-md-8, .bh-col-md-9, .bh-col-md-10, .bh-col-md-11, .bh-col-md-12 {
    float: left;
  }
  .bh-col-md-12 {
    width: 100%;
  }
  .bh-col-md-11 {
    width: 91.66666667%;
  }
  .bh-col-md-10 {
    width: 83.33333333%;
  }
  .bh-col-md-9 {
    width: 75%;
  }
  .bh-col-md-8 {
    width: 66.66666667%;
  }
  .bh-col-md-7 {
    width: 58.33333333%;
  }
  .bh-col-md-6 {
    width: 50%;
  }
  .bh-col-md-5 {
    width: 41.66666667%;
  }
  .bh-col-md-4 {
    width: 33.33333333%;
  }
  .bh-col-md-3 {
    width: 25%;
  }
  .bh-col-md-2 {
    width: 16.66666667%;
  }
  .bh-col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .bh-col-lg-1, .bh-col-lg-2, .bh-col-lg-3, .bh-col-lg-4, .bh-col-lg-5, .bh-col-lg-6, .bh-col-lg-7, .bh-col-lg-8, .bh-col-lg-9, .bh-col-lg-10, .bh-col-lg-11, .bh-col-lg-12 {
    float: left;
  }
  .bh-col-lg-12 {
    width: 100%;
  }
  .bh-col-lg-11 {
    width: 91.66666667%;
  }
  .bh-col-lg-10 {
    width: 83.33333333%;
  }
  .bh-col-lg-9 {
    width: 75%;
  }
  .bh-col-lg-8 {
    width: 66.66666667%;
  }
  .bh-col-lg-7 {
    width: 58.33333333%;
  }
  .bh-col-lg-6 {
    width: 50%;
  }
  .bh-col-lg-5 {
    width: 41.66666667%;
  }
  .bh-col-lg-4 {
    width: 33.33333333%;
  }
  .bh-col-lg-3 {
    width: 25%;
  }
  .bh-col-lg-2 {
    width: 16.66666667%;
  }
  .bh-col-lg-1 {
    width: 8.33333333%;
  }
}
.bh-color-white {
  color: #ffffff;
}
.bh-bg-white {
  background-color: #ffffff;
}
.bh-color-primary {
  color: #2196f3;
}
.bh-bg-primary {
  background-color: #2196f3;
}
.bh-color-success {
  color: #8bc34a;
}
.bh-bg-success {
  background-color: #8bc34a;
}
.bh-color-info {
  color: #3e50b4;
}
.bh-bg-info {
  background-color: #3e50b4;
}
.bh-color-warning {
  color: #fec006;
}
.bh-bg-warning {
  background-color: #fec006;
}
.bh-color-danger {
  color: #f44336;
}
.bh-bg-danger {
  background-color: #f44336;
}
.bh-color-default {
  color: #222222;
}
.bh-bg-default {
  color: #efefef;
}
.bh-color-heading {
  color: #767676;
}
.bh-color-caption {
  color: #b4b4b4;
}
.bh-color-divide {
  color: #dddddd;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-weight: normal;
}
h5,
.h5,
h6,
.h6 {
  font-weight: bold;
}
h1,
.h1,
h2,
.h2 {
  margin-bottom: 4px;
}
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-bottom: 4px;
}
h1,
.h1 {
  font-size: 30px;
  line-height: 44px;
}
h2,
.h2 {
  font-size: 24px;
  line-height: 36px;
}
h3,
.h3 {
  font-size: 20px;
  line-height: 32px;
}
h4,
.h4 {
  font-size: 16px;
  line-height: 28px;
}
h5,
.h5 {
  font-size: 14px;
  line-height: 24px;
}
h6,
.h6 {
  font-size: 12px;
  line-height: 24px;
}
b,
strong {
  font-weight: bold;
}
.bh-text-caption {
  font-size: 12px;
  line-height: 20px;
}
.bh-text-large,
.bh-text-caption-large {
  font-size: 14px;
  line-height: 24px;
}
.bh-text-default {
  font-size: 12px;
  line-height: 20px;
}
.bh-text-left {
  text-align: left;
}
.bh-text-right {
  text-align: right;
}
.bh-text-center {
  text-align: center;
}
.bh-text-justify {
  text-align: justify;
}
.bh-text-nowrap {
  white-space: nowrap;
}
.bh-text-lowercase {
  text-transform: lowercase;
}
.bh-text-uppercase {
  text-transform: uppercase;
}
.bh-text-capitalize {
  text-transform: capitalize;
}
small,
.bh-text-small {
  font-size: 116%;
}
.bh-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  outline: none !important;
  padding: 6px 8px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 2px;
  min-width: 80px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.bh-btn:focus,
.bh-btn.bh-active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.bh-btn:hover,
.bh-btn:focus {
  color: #222222;
  text-decoration: none;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.bh-btn.bh-active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.bh-btn.bh-disabled,
.bh-btn[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
a .bh-btn.bh-disabled {
  pointer-events: none;
}
.bh-btn-default {
  color: #222222;
  background-color: #ffffff;
  border: 1px solid #efefef;
  padding: 5px 8px;
}
.bh-btn-default:hover,
.bh-btn-default:focus,
.bh-btn-default.focus,
.bh-btn-default:active,
.bh-btn-default.active,
.open > .dropdown-toggle.bh-btn-default {
  color: #222222;
  background-color: #efefef;
  border-color: none;
}
.bh-btn-default:active,
.bh-btn-default.active,
.open > .dropdown-toggle.bh-btn-default {
  background-image: none;
}
.bh-btn-default.disabled,
.bh-btn-default[disabled],
fieldset[disabled] .bh-btn-default,
.bh-btn-default.disabled:hover,
.bh-btn-default[disabled]:hover,
fieldset[disabled] .bh-btn-default:hover,
.bh-btn-default.disabled:focus,
.bh-btn-default[disabled]:focus,
fieldset[disabled] .bh-btn-default:focus,
.bh-btn-default.disabled.focus,
.bh-btn-default[disabled].focus,
fieldset[disabled] .bh-btn-default.focus,
.bh-btn-default.disabled:active,
.bh-btn-default[disabled]:active,
fieldset[disabled] .bh-btn-default:active,
.bh-btn-default.disabled.active,
.bh-btn-default[disabled].active,
fieldset[disabled] .bh-btn-default.active {
  color: #b4b4b4;
  background-color: #efefef;
  border: none;
}
.bh-btn-default .badge {
  color: #ffffff;
  background-color: #222222;
}
.bh-btn-huge.bh-btn-default {
  padding: 12px 16px;
}
.bh-btn-large.bh-btn-default {
  padding: 9px 12px;
}
.bh-btn-small.bh-btn-default {
  padding: 4px 8px;
}
.bh-btn-primary {
  color: #ffffff;
  background-color: #2196f3;
  border: none;
}
.bh-btn-primary:hover,
.bh-btn-primary:focus,
.bh-btn-primary.focus,
.bh-btn-primary:active,
.bh-btn-primary.active,
.open > .dropdown-toggle.bh-btn-primary {
  color: #ffffff;
  background-color: #0d86ea;
  border-color: none;
}
.bh-btn-primary:active,
.bh-btn-primary.active,
.open > .dropdown-toggle.bh-btn-primary {
  background-image: none;
}
.bh-btn-primary.disabled,
.bh-btn-primary[disabled],
fieldset[disabled] .bh-btn-primary,
.bh-btn-primary.disabled:hover,
.bh-btn-primary[disabled]:hover,
fieldset[disabled] .bh-btn-primary:hover,
.bh-btn-primary.disabled:focus,
.bh-btn-primary[disabled]:focus,
fieldset[disabled] .bh-btn-primary:focus,
.bh-btn-primary.disabled.focus,
.bh-btn-primary[disabled].focus,
fieldset[disabled] .bh-btn-primary.focus,
.bh-btn-primary.disabled:active,
.bh-btn-primary[disabled]:active,
fieldset[disabled] .bh-btn-primary:active,
.bh-btn-primary.disabled.active,
.bh-btn-primary[disabled].active,
fieldset[disabled] .bh-btn-primary.active {
  color: #ffffff;
  background-color: #b1dafb;
  border: none;
}
.bh-btn-primary .badge {
  color: #2196f3;
  background-color: #ffffff;
}
.bh-btn-success {
  color: #ffffff;
  background-color: #8bc34a;
  border: none;
}
.bh-btn-success:hover,
.bh-btn-success:focus,
.bh-btn-success.focus,
.bh-btn-success:active,
.bh-btn-success.active,
.open > .dropdown-toggle.bh-btn-success {
  color: #ffffff;
  background-color: #79b13a;
  border-color: none;
}
.bh-btn-success:active,
.bh-btn-success.active,
.open > .dropdown-toggle.bh-btn-success {
  background-image: none;
}
.bh-btn-success.disabled,
.bh-btn-success[disabled],
fieldset[disabled] .bh-btn-success,
.bh-btn-success.disabled:hover,
.bh-btn-success[disabled]:hover,
fieldset[disabled] .bh-btn-success:hover,
.bh-btn-success.disabled:focus,
.bh-btn-success[disabled]:focus,
fieldset[disabled] .bh-btn-success:focus,
.bh-btn-success.disabled.focus,
.bh-btn-success[disabled].focus,
fieldset[disabled] .bh-btn-success.focus,
.bh-btn-success.disabled:active,
.bh-btn-success[disabled]:active,
fieldset[disabled] .bh-btn-success:active,
.bh-btn-success.disabled.active,
.bh-btn-success[disabled].active,
fieldset[disabled] .bh-btn-success.active {
  color: #ffffff;
  background-color: #d7eac0;
  border: none;
}
.bh-btn-success .badge {
  color: #8bc34a;
  background-color: #ffffff;
}
.bh-btn-info {
  color: #ffffff;
  background-color: #3e50b4;
  border: none;
}
.bh-btn-info:hover,
.bh-btn-info:focus,
.bh-btn-info.focus,
.bh-btn-info:active,
.bh-btn-info.active,
.open > .dropdown-toggle.bh-btn-info {
  color: #ffffff;
  background-color: #2f3e9e;
  border-color: none;
}
.bh-btn-info:active,
.bh-btn-info.active,
.open > .dropdown-toggle.bh-btn-info {
  background-image: none;
}
.bh-btn-info.disabled,
.bh-btn-info[disabled],
fieldset[disabled] .bh-btn-info,
.bh-btn-info.disabled:hover,
.bh-btn-info[disabled]:hover,
fieldset[disabled] .bh-btn-info:hover,
.bh-btn-info.disabled:focus,
.bh-btn-info[disabled]:focus,
fieldset[disabled] .bh-btn-info:focus,
.bh-btn-info.disabled.focus,
.bh-btn-info[disabled].focus,
fieldset[disabled] .bh-btn-info.focus,
.bh-btn-info.disabled:active,
.bh-btn-info[disabled]:active,
fieldset[disabled] .bh-btn-info:active,
.bh-btn-info.disabled.active,
.bh-btn-info[disabled].active,
fieldset[disabled] .bh-btn-info.active {
  color: #ffffff;
  background-color: #bcc2e5;
  border: none;
}
.bh-btn-info .badge {
  color: #3e50b4;
  background-color: #ffffff;
}
.bh-btn-warning {
  color: #ffffff;
  background-color: #fec006;
  border: none;
}
.bh-btn-warning:hover,
.bh-btn-warning:focus,
.bh-btn-warning.focus,
.bh-btn-warning:active,
.bh-btn-warning.active,
.open > .dropdown-toggle.bh-btn-warning {
  color: #ffffff;
  background-color: #ffa000;
  border-color: none;
}
.bh-btn-warning:active,
.bh-btn-warning.active,
.open > .dropdown-toggle.bh-btn-warning {
  background-image: none;
}
.bh-btn-warning.disabled,
.bh-btn-warning[disabled],
fieldset[disabled] .bh-btn-warning,
.bh-btn-warning.disabled:hover,
.bh-btn-warning[disabled]:hover,
fieldset[disabled] .bh-btn-warning:hover,
.bh-btn-warning.disabled:focus,
.bh-btn-warning[disabled]:focus,
fieldset[disabled] .bh-btn-warning:focus,
.bh-btn-warning.disabled.focus,
.bh-btn-warning[disabled].focus,
fieldset[disabled] .bh-btn-warning.focus,
.bh-btn-warning.disabled:active,
.bh-btn-warning[disabled]:active,
fieldset[disabled] .bh-btn-warning:active,
.bh-btn-warning.disabled.active,
.bh-btn-warning[disabled].active,
fieldset[disabled] .bh-btn-warning.active {
  color: #ffffff;
  background-color: #ffe9a8;
  border: none;
}
.bh-btn-warning .badge {
  color: #fec006;
  background-color: #ffffff;
}
.bh-btn-danger {
  color: #ffffff;
  background-color: #f44336;
  border: none;
}
.bh-btn-danger:hover,
.bh-btn-danger:focus,
.bh-btn-danger.focus,
.bh-btn-danger:active,
.bh-btn-danger.active,
.open > .dropdown-toggle.bh-btn-danger {
  color: #ffffff;
  background-color: #e71c0c;
  border-color: none;
}
.bh-btn-danger:active,
.bh-btn-danger.active,
.open > .dropdown-toggle.bh-btn-danger {
  background-image: none;
}
.bh-btn-danger.disabled,
.bh-btn-danger[disabled],
fieldset[disabled] .bh-btn-danger,
.bh-btn-danger.disabled:hover,
.bh-btn-danger[disabled]:hover,
fieldset[disabled] .bh-btn-danger:hover,
.bh-btn-danger.disabled:focus,
.bh-btn-danger[disabled]:focus,
fieldset[disabled] .bh-btn-danger:focus,
.bh-btn-danger.disabled.focus,
.bh-btn-danger[disabled].focus,
fieldset[disabled] .bh-btn-danger.focus,
.bh-btn-danger.disabled:active,
.bh-btn-danger[disabled]:active,
fieldset[disabled] .bh-btn-danger:active,
.bh-btn-danger.disabled.active,
.bh-btn-danger[disabled].active,
fieldset[disabled] .bh-btn-danger.active {
  color: #ffffff;
  background-color: #fbbdb9;
  border: none;
}
.bh-btn-danger .badge {
  color: #f44336;
  background-color: #ffffff;
}
.bh-btn-huge {
  padding: 13px 16px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 2px;
  min-width: 136px;
}
.bh-btn-large {
  padding: 10px 12px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 2px;
  min-width: 120px;
}
.bh-btn-small {
  padding: 5px 8px;
  font-size: 12px;
  line-height: 18px;
  border-radius: 2px;
  min-width: 60px;
}
.bh-btn-block {
  display: block;
  width: 100%;
}
.bh-btn-block + .bh-btn-block {
  margin-top: 5px;
}
input[type="submit"].bh-btn-block,
input[type="reset"].bh-btn-block,
input[type="button"].bh-btn-block {
  width: 100%;
}
.bh-card {
  background-color: #ffffff;
}
.bh-card.bh-card-lv1 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  z-index: 101;
}
.bh-card.bh-card-lv2 {
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 102;
}
.bh-card.bh-card-lv3 {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 103;
}
.bh-card.bh-card-lv4 {
  -webkit-box-shadow: 0 8px 14px rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 14px rgba(0, 0, 0, 0.25);
  z-index: 104;
}
.bh-nav {
  list-style: none;
  min-width: 184px;
  max-width: 280px;
  padding: 4px 0;
  display: table;
}
.bh-nav > li {
  position: relative;
  font-size: 12px;
}
.bh-nav > li > a {
  display: block;
  position: relative;
  color: #767676;
  line-height: 40px;
  padding: 0 12px;
}
.bh-nav > li > a > div {
  min-width: 184px;
  max-width: 280px;
}
.bh-nav > li > a > div > i {
  width: 24px;
  height: 24px;
  float: left;
  margin: 8px 12px 8px 0;
  font-size: 22px;
}
.bh-nav > li.bh-active > a,
.bh-nav > li > a:hover {
  font-weight: bold;
  text-decoration: none;
  color: #222222;
  background-color: #efefef;
}
.bh-nav > li.bh-disabled > a {
  color: #b4b4b4;
}
.bh-nav > li.bh-disabled > a:hover {
  font-weight: normal;
  color: #b4b4b4;
  background-color: transparent;
  cursor: not-allowed;
}
.bh-nav .bh-nav-dropdown:before,
.bh-nav .bh-nav-dropdown:after {
  position: absolute;
  z-index: 1;
}
.bh-nav .bh-nav-dropdown:before {
  content: "";
  top: 18px;
  right: 6px;
  width: 8px;
  height: 2px;
  background: #767676;
  display: none;
}
.bh-nav .bh-nav-dropdown:after {
  content: "+";
  top: 8px;
  right: 4px;
  font-size: 18px;
  font-weight: bold;
  color: #767676;
  display: block;
}
.bh-nav .bh-nav-dropdown.bh-open:before {
  display: block;
}
.bh-nav .bh-nav-dropdown.bh-open:after {
  display: none;
}
.bh-nav .bh-nav-dropdown.bh-open > .bh-nav {
  display: block;
}
.bh-nav .bh-nav-dropdown > .bh-nav {
  display: none;
  width: 100%;
  padding: 0;
  text-indent: 40px;
}
.bh-nav .bh-nav-dropdown > .bh-nav > li > a > div:before {
  content: "";
  background-color: #767676;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  position: absolute;
  z-index: 1;
  top: 18px;
  left: 40px;
}
.bh-nav.bh-nav-tile > li.bh-active > a,
.bh-nav.bh-nav-tile > li > a:hover {
  color: #ffffff;
  background-color: #2196f3;
}
.bh-nav.bh-nav-tile > li.bh-disabled > a {
  font-weight: normal;
  color: #767676;
  background-color: #dddddd;
  cursor: not-allowed;
}
.bh-nav.bh-nav-tile .bh-nav-dropdown:before,
.bh-nav.bh-nav-tile .bh-nav-dropdown:after {
  display: none;
}
.bh-nav.bh-nav-tile .bh-nav-dropdown > a:hover {
  font-weight: normal;
  color: #767676;
  background-color: transparent;
}
.bh-nav.bh-nav-tile .bh-nav-dropdown > .bh-nav {
  display: table;
}
.bh-nav.bh-nav-tile .bh-nav-dropdown > .bh-nav > li.bh-active > a > div:before,
.bh-nav.bh-nav-tile .bh-nav-dropdown > .bh-nav > li > a:hover > div:before {
  background-color: #ffffff;
}
.bh-tab {
  list-style: none;
  padding: 0;
  white-space: nowrap;
  margin: 0;
  overflow: auto;
}
.bh-tab > li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 16px;
  margin: 0 2px;
}
.bh-tab > li > a {
  display: inline-block;
  color: #767676;
  position: relative;
  width: 100%;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  font-weight: normal;
  font-size: 14px;
  padding: 14px 4px;
}
.bh-tab > li.bh-active > a {
  color: #222222;
}
.bh-tab > li:hover > a {
  color: #767676;
}
.bh-tab.bh-tab-lv1.bh-tab-divide {
  box-shadow: inset 0 -2px 0 0 #efefef;
}
.bh-tab.bh-tab-lv1 > li > a:after {
  content: "";
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.bh-tab.bh-tab-lv1 > li.bh-active > a:after,
.bh-tab.bh-tab-lv1 > li:hover > a:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.bh-tab.bh-tab-lv1 > li > a:after {
  background: #2196f3;
}
.bh-tab.bh-tab-lv1 > li.bh-disabled > a,
.bh-tab.bh-tab-lv1 > li.bh-disabled.bh-active > a {
  cursor: no-drop;
  color: #dddddd;
}
.bh-tab.bh-tab-lv1 > li.bh-disabled > a:after,
.bh-tab.bh-tab-lv1 > li.bh-disabled.bh-active > a:after {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
}
.bh-tab.bh-tab-lv1 > li.bh-disabled.bh-active > a:after,
.bh-tab.bh-tab-lv1 > li.bh-disabled.bh-active.bh-active > a:after,
.bh-tab.bh-tab-lv1 > li.bh-disabled:hover > a:after,
.bh-tab.bh-tab-lv1 > li.bh-disabled.bh-active:hover > a:after {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.bh-tab.bh-tab-lv2 {
  box-shadow: inset 0 -1px 0 0 #efefef;
}
.bh-tab.bh-tab-lv2 > li {
  padding: 0;
  border-radius: 2px 2px 0 0;
}
.bh-tab.bh-tab-lv2 > li > a {
  color: #222222;
  border-radius: 2px 2px 0 0;
  padding: 9px 20px;
  font-size: 14px;
}
.bh-tab.bh-tab-lv2 > li.bh-active,
.bh-tab.bh-tab-lv2 > li.bh-active:hover {
  border: 1px solid #efefef;
  border-bottom-color: transparent;
  background-color: #ffffff;
}
.bh-tab.bh-tab-lv2 > li:hover {
  border: none;
  background-color: #efefef;
}
.bh-tab.bh-tab-lv2 > li.bh-disabled > a,
.bh-tab.bh-tab-lv2 > li.bh-disabled.bh-active > a {
  color: #dddddd;
  cursor: no-drop;
}
.bh-tab.bh-tab-lv2 > li.bh-disabled.bh-active,
.bh-tab.bh-tab-lv2 > li.bh-disabled.bh-active.bh-active,
.bh-tab.bh-tab-lv2 > li.bh-disabled.bh-active:hover,
.bh-tab.bh-tab-lv2 > li.bh-disabled.bh-active.bh-active:hover {
  border: 1px solid #efefef;
  border-bottom-color: transparent;
  background-color: #ffffff;
}
.bh-tab.bh-tab-lv2 > li.bh-disabled:hover,
.bh-tab.bh-tab-lv2 > li.bh-disabled.bh-active:hover {
  border: none;
  background-color: #ffffff;
}
.bh-tab.bh-tab-lv2.bh-primary > li > a {
  color: #2196f3;
}
.bh-tab.bh-tab-lv2.bh-primary > li.bh-active,
.bh-tab.bh-tab-lv2.bh-primary > li.bh-active:hover {
  border: 1px solid #efefef;
  border-bottom-color: transparent;
  background-color: #ffffff;
}
.bh-tab.bh-tab-lv2.bh-primary > li:hover {
  border: none;
  background-color: #0d86ea;
}
.bh-tab.bh-tab-lv2.bh-info > li > a {
  color: #3e50b4;
}
.bh-tab.bh-tab-lv2.bh-info > li.bh-active,
.bh-tab.bh-tab-lv2.bh-info > li.bh-active:hover {
  border: 1px solid #efefef;
  border-bottom-color: transparent;
  background-color: #ffffff;
}
.bh-tab.bh-tab-lv2.bh-info > li:hover {
  border: none;
  background-color: #2f3e9e;
}
.bh-tab.bh-tab-lv3 {
  box-shadow: inset 0 0 0 0 #efefef;
}
.bh-tab.bh-tab-lv3 > li {
  padding: 0;
  border-radius: 2px;
  border: none;
  margin: 0;
}
.bh-tab.bh-tab-lv3 > li > a {
  color: #222222;
  border-radius: 2px;
  padding: 2px 8px;
  font-size: 12px;
}
.bh-tab.bh-tab-lv3 > li.bh-active,
.bh-tab.bh-tab-lv3 > li:hover {
  border: none;
  background-color: #efefef;
}
.bh-tab.bh-tab-lv3.bh-primary > li > a {
  color: #2196f3;
  -webkit-transition: background-color;
  -o-transition: background-color;
  transition: background-color;
}
.bh-tab.bh-tab-lv3.bh-primary > li > a:hover {
  color: #ffffff;
}
.bh-tab.bh-tab-lv3.bh-primary > li.bh-active,
.bh-tab.bh-tab-lv3.bh-primary > li:hover {
  border: none;
  background-color: #2196f3;
  color: #ffffff;
}
.bh-tab.bh-tab-lv3.bh-primary > li.bh-active > a,
.bh-tab.bh-tab-lv3.bh-primary > li:hover > a {
  color: #ffffff;
}
.bh-tab.bh-tab-lv3.bh-primary > li.bh-disabled > a,
.bh-tab.bh-tab-lv3.bh-primary > li.bh-disabled.bh-active > a {
  color: #dddddd;
  cursor: no-drop;
}
.bh-tab.bh-tab-lv3.bh-primary > li.bh-disabled.bh-active,
.bh-tab.bh-tab-lv3.bh-primary > li.bh-disabled.bh-active.bh-active,
.bh-tab.bh-tab-lv3.bh-primary > li.bh-disabled:hover,
.bh-tab.bh-tab-lv3.bh-primary > li.bh-disabled.bh-active:hover {
  border: none;
  background-color: transparent;
}
.bh-tab.bh-tab-lv3.bh-info > li > a {
  color: #3e50b4;
  -webkit-transition: background-color;
  -o-transition: background-color;
  transition: background-color;
}
.bh-tab.bh-tab-lv3.bh-info > li > a:hover {
  color: #ffffff;
}
.bh-tab.bh-tab-lv3.bh-info > li.bh-active,
.bh-tab.bh-tab-lv3.bh-info > li:hover {
  border: none;
  background-color: #3e50b4;
  color: #ffffff;
}
.bh-tab.bh-tab-lv3.bh-info > li.bh-active > a,
.bh-tab.bh-tab-lv3.bh-info > li:hover > a {
  color: #ffffff;
}
.bh-tab.bh-tab-lv3.bh-info > li.bh-disabled > a,
.bh-tab.bh-tab-lv3.bh-info > li.bh-disabled.bh-active > a {
  color: #dddddd;
  cursor: no-drop;
}
.bh-tab.bh-tab-lv3.bh-info > li.bh-disabled.bh-active,
.bh-tab.bh-tab-lv3.bh-info > li.bh-disabled.bh-active.bh-active,
.bh-tab.bh-tab-lv3.bh-info > li.bh-disabled:hover,
.bh-tab.bh-tab-lv3.bh-info > li.bh-disabled.bh-active:hover {
  border: none;
  background-color: transparent;
}
.bh-tab.bh-tab-lv3.bh-success > li > a {
  color: #8bc34a;
  -webkit-transition: background-color;
  -o-transition: background-color;
  transition: background-color;
}
.bh-tab.bh-tab-lv3.bh-success > li > a:hover {
  color: #ffffff;
}
.bh-tab.bh-tab-lv3.bh-success > li.bh-active,
.bh-tab.bh-tab-lv3.bh-success > li:hover {
  border: none;
  background-color: #8bc34a;
  color: #ffffff;
}
.bh-tab.bh-tab-lv3.bh-success > li.bh-active > a,
.bh-tab.bh-tab-lv3.bh-success > li:hover > a {
  color: #ffffff;
}
.bh-tab.bh-tab-lv3.bh-success > li.bh-disabled > a,
.bh-tab.bh-tab-lv3.bh-success > li.bh-disabled.bh-active > a {
  color: #dddddd;
  cursor: no-drop;
}
.bh-tab.bh-tab-lv3.bh-success > li.bh-disabled.bh-active,
.bh-tab.bh-tab-lv3.bh-success > li.bh-disabled.bh-active.bh-active,
.bh-tab.bh-tab-lv3.bh-success > li.bh-disabled:hover,
.bh-tab.bh-tab-lv3.bh-success > li.bh-disabled.bh-active:hover {
  border: none;
  background-color: transparent;
}
.bh-tab-content {
  padding: 16px 0;
}
.bh-tab-content > .bh-tab-pane {
  display: none;
}
.bh-tab-content > .bh-active {
  display: block;
}
.bh-breadcrumb {
  margin-bottom: 16px;
}
.bh-breadcrumb > a {
  color: #2196f3;
  text-decoration: none;
  margin-left: 4px;
  margin-right: 4px;
}
.bh-breadcrumb > a:hover {
  text-decoration: underline;
}
.bh-breadcrumb > a:first-child {
  margin-left: 0;
}
.bh-breadcrumb > a:last-child {
  margin-right: 0;
  color: #b4b4b4;
}
.bh-breadcrumb > a:last-child:hover {
  text-decoration: none;
  cursor: text;
}
.bh-breadcrumb > span {
  color: #b4b4b4;
}
.bh-form-label {
  display: inline-block;
  max-width: 100%;
  font-weight: bold;
  font-size: 12px;
  padding: 4px 0px 4px 4px;
  text-align: right;
  color: #222222;
  margin-right: -4px;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.bh-form-control {
  display: block;
  width: 100%;
  height: 28px;
  padding: 4px;
  font-size: 12px;
  line-height: 18px;
  color: #222222;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #dddddd;
  border-radius: 2px;
}
.bh-form-control:focus {
  border-color: #2196f3;
  outline: 0;
}
.bh-form-control::-moz-placeholder {
  color: #b4b4b4;
  opacity: 1;
}
.bh-form-control:-ms-input-placeholder {
  color: #b4b4b4;
}
.bh-form-control::-webkit-input-placeholder {
  color: #b4b4b4;
}
.bh-form-control[disabled],
.bh-form-control[readonly],
fieldset[disabled] .bh-form-control {
  background-color: #efefef;
  opacity: 1;
}
.bh-form-control[disabled],
fieldset[disabled] .bh-form-control {
  cursor: not-allowed;
}
textarea.bh-form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
.bh-form-group {
  margin-bottom: 4px;
}
.bh-form-group.bh-required .bh-form-label:before {
  content: "*";
  color: #f44336;
  margin-right: 4px;
}
.bh-form-group .bh-text-caption {
  display: none;
}
.bh-input-lg {
  height: 32px;
  padding: 4px 4px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 2px;
}
select.bh-input-lg {
  height: 32px;
  line-height: 32px;
}
textarea.bh-input-lg,
select[multiple].bh-input-lg {
  height: auto;
}
.bh-form-group-lg .bh-form-control {
  height: 32px;
  padding: 4px 4px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 2px;
}
select.bh-form-group-lg .bh-form-control {
  height: 32px;
  line-height: 32px;
}
textarea.bh-form-group-lg .bh-form-control,
select[multiple].bh-form-group-lg .bh-form-control {
  height: auto;
}
.bh-form-group-lg .bh-form-label {
  font-size: 14px;
  padding: 6px 8px 6px 16px;
  margin-right: 0;
}
.bh-form-group-lg .bh-form-group {
  margin-bottom: 8px;
}
.bh-form-control-warning .help-block,
.bh-form-control-warning .control-label,
.bh-form-control-warning .radio,
.bh-form-control-warning .checkbox,
.bh-form-control-warning .radio-inline,
.bh-form-control-warning .checkbox-inline,
.bh-form-control-warning.radio label,
.bh-form-control-warning.checkbox label,
.bh-form-control-warning.radio-inline label,
.bh-form-control-warning.checkbox-inline label {
  color: #fec006;
}
.bh-form-control-warning .form-control {
  border-color: #fec006;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.bh-form-control-warning .form-control:focus {
  border-color: #d09c01;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #feda6c;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #feda6c;
}
.bh-form-control-warning .input-group-addon {
  color: #fec006;
  border-color: #fec006;
  background-color: #fec006;
}
.bh-form-control-warning .form-control-feedback {
  color: #fec006;
}
.bh-form-control-warning .help-block,
.bh-form-control-warning .control-label,
.bh-form-control-warning .radio,
.bh-form-control-warning .checkbox,
.bh-form-control-warning .radio-inline,
.bh-form-control-warning .checkbox-inline,
.bh-form-control-warning.radio label,
.bh-form-control-warning.checkbox label,
.bh-form-control-warning.radio-inline label,
.bh-form-control-warning.checkbox-inline label {
  color: #fec006;
}
.bh-form-control-warning .bh-form-control {
  border-color: #fec006;
}
.bh-form-control-warning .bh-form-control:focus {
  border-color: #fec006;
}
.bh-form-control-warning .bh-text-caption {
  display: block;
}
.bh-form-control-warning .bh-text-caption i {
  font-size: 16px;
  margin-right: 4px;
}
.bh-form-control-danger .help-block,
.bh-form-control-danger .control-label,
.bh-form-control-danger .radio,
.bh-form-control-danger .checkbox,
.bh-form-control-danger .radio-inline,
.bh-form-control-danger .checkbox-inline,
.bh-form-control-danger.radio label,
.bh-form-control-danger.checkbox label,
.bh-form-control-danger.radio-inline label,
.bh-form-control-danger.checkbox-inline label {
  color: #f44336;
}
.bh-form-control-danger .form-control {
  border-color: #f44336;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.bh-form-control-danger .form-control:focus {
  border-color: #ea1c0d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f99d97;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f99d97;
}
.bh-form-control-danger .input-group-addon {
  color: #f44336;
  border-color: #f44336;
  background-color: #f44336;
}
.bh-form-control-danger .form-control-feedback {
  color: #f44336;
}
.bh-form-control-danger .help-block,
.bh-form-control-danger .control-label,
.bh-form-control-danger .radio,
.bh-form-control-danger .checkbox,
.bh-form-control-danger .radio-inline,
.bh-form-control-danger .checkbox-inline,
.bh-form-control-danger.radio label,
.bh-form-control-danger.checkbox label,
.bh-form-control-danger.radio-inline label,
.bh-form-control-danger.checkbox-inline label {
  color: #f44336;
}
.bh-form-control-danger .bh-form-control {
  border-color: #f44336;
}
.bh-form-control-danger .bh-form-control:focus {
  border-color: #f44336;
}
.bh-form-control-danger .bh-text-caption {
  display: block;
}
.bh-form-control-danger .bh-text-caption i {
  font-size: 16px;
  margin-right: 4px;
}
.bh-form-horizontal,
.bh-form-vertical {
  padding-bottom: 16px;
}
.bh-form-vertical .bh-form-label,
.bh-form-vertical.bh-form-lg .bh-form-label {
  padding: 6px 8px 6px 0;
  margin-bottom: 4px;
}
.bh-form-lg .bh-form-label {
  font-size: 14px;
  padding: 6px 8px 6px 16px;
  margin-right: 0;
}
.bh-form-lg .bh-form-control {
  font-size: 14px;
  line-height: 20px;
  height: 32px;
}
.bh-form-lg textarea.bh-form-control {
  height: auto;
}
.bh-form-lg .bh-form-group {
  margin-bottom: 8px;
}
.bh-checkbox,
.bh-radio {
  padding-top: 4px;
}
.bh-checkbox label,
.bh-radio label {
  position: relative;
}
.bh-checkbox label.bh-disabled .bh-choice-helper,
.bh-radio label.bh-disabled .bh-choice-helper {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.bh-checkbox label.bh-disabled .bh-choice-helper:before,
.bh-radio label.bh-disabled .bh-choice-helper:before {
  background-color: #efefef;
}
.bh-checkbox input,
.bh-radio input {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0 !important;
  z-index: 1;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  margin-top: 0;
}
.bh-checkbox .bh-choice-helper:before,
.bh-radio .bh-choice-helper:before,
.bh-checkbox .bh-choice-helper:after,
.bh-radio .bh-choice-helper:after {
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  content: "";
}
.bh-checkbox .bh-choice-helper:before,
.bh-radio .bh-choice-helper:before {
  left: 0;
  border: 1px solid #b4b4b4;
  background-color: #ffffff;
}
.bh-checkbox:hover .bh-choice-helper:before,
.bh-radio:hover .bh-choice-helper:before {
  border-color: #8bc34a;
}
.bh-checkbox:hover label.bh-disabled .bh-choice-helper:before,
.bh-radio:hover label.bh-disabled .bh-choice-helper:before {
  border-color: #b4b4b4;
}
.bh-checkbox label {
  padding-left: 24px;
  padding-right: 12px;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: normal;
}
.bh-checkbox input {
  width: 16px;
  height: 16px;
}
.bh-checkbox input:checked + .bh-choice-helper:before {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.bh-checkbox input:checked + .bh-choice-helper:after {
  -webkit-transform: scale(1) rotate(-50deg);
  -ms-transform: scale(1) rotate(-50deg);
  -o-transform: scale(1) rotate(-50deg);
  transform: scale(1) rotate(-50deg);
  opacity: 1;
  filter: alpha(opacity=100);
}
.bh-checkbox .bh-choice-helper:before {
  top: 2px;
  width: 16px;
  height: 16px;
}
.bh-checkbox .bh-choice-helper:after {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: scale(0) rotate(80deg);
  -ms-transform: scale(0) rotate(80deg);
  -o-transform: scale(0) rotate(80deg);
  transform: scale(0) rotate(80deg);
  width: 16px;
  height: 8px;
  border-bottom: 2px solid #8bc34a;
  border-left: 2px solid #8bc34a;
  border-bottom-left-radius: 2px;
  left: -1px;
  top: 4px;
}
.bh-form-control-danger .bh-checkbox .bh-choice-helper:before {
  border-color: #f44336;
}
.bh-form-control-danger .bh-checkbox .bh-choice-helper:after {
  border-bottom-color: #f44336;
  border-left-color: #f44336;
}
.bh-form-control-success .bh-checkbox .bh-choice-helper:before {
  border-color: #8bc34a;
}
.bh-form-control-success .bh-checkbox .bh-choice-helper:after {
  border-bottom-color: #8bc34a;
  border-left-color: #8bc34a;
}
.bh-form-control-warning .bh-checkbox .bh-choice-helper:before {
  border-color: #fec006;
}
.bh-form-control-warning .bh-checkbox .bh-choice-helper:after {
  border-bottom-color: #fec006;
  border-left-color: #fec006;
}
.bh-radio label {
  padding-left: 28px;
  padding-right: 12px;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: normal;
}
.bh-radio input {
  width: 20px;
  height: 20px;
}
.bh-radio input:checked + .bh-choice-helper:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.bh-radio .bh-choice-helper:before {
  top: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.bh-radio .bh-choice-helper:after {
  width: 12px;
  height: 12px;
  background: #8bc34a;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.bh-radio.bh-radio-vertical label {
  display: block;
  margin-bottom: 8px;
  height: 20px;
  text-align: left;
}
.bh-radio.bh-radio-vertical .bh-choice-helper:before {
  top: 0px;
}
.bh-radio.bh-radio-vertical .bh-choice-helper:after {
  top: 4px;
}
.bh-checkbox.bh-checkbox-vertical label {
  display: block;
  margin-bottom: 8px;
  text-align: left;
}
.bh-checkbox.bh-checkbox-vertical .bh-choice-helper:before {
  top: 2px;
}
.bh-checkbox.bh-checkbox-vertical .bh-choice-helper:after {
  top: 4px;
}
.bh-checkbox-inline,
.bh-radio-inline {
  vertical-align: top;
  margin-top: 0;
  padding-left: 25px;
}
/*!
 * Waves v0.7.2
 * http://fian.my.id/Waves 
 * 
 * Copyright 2014 Alfiana E. Sibuea and other contributors 
 * Released under the MIT license 
 * https://github.com/fians/Waves/blob/master/LICENSE 
 */
.waves-effect {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -o-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -moz-radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: radial-gradient(rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0.3) 40%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  -webkit-transform: scale(0) translate(0, 0);
  -moz-transform: scale(0) translate(0, 0);
  -ms-transform: scale(0) translate(0, 0);
  -o-transform: scale(0) translate(0, 0);
  transform: scale(0) translate(0, 0);
  pointer-events: none;
}
.waves-effect.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
  background: -webkit-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -o-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: -moz-radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
  background: radial-gradient(rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 70%);
}
.waves-effect.waves-classic .waves-ripple {
  background: rgba(0, 0, 0, 0.2);
}
.waves-effect.waves-classic.waves-light .waves-ripple {
  background: rgba(255, 255, 255, 0.4);
}
