.clndr-container-normal {
  width: 324px;
  height: 302px;
  padding: 0 16px;
}
.clndr-month-bar {
  height: 76px;
  padding-top: 28px;
  border-bottom: 1px solid #cceae7;
  text-align: left;
}
.clndr-weeks {
  margin-top: 4px;
  font-weight: bold;
}
.clndr-week,
.clndr-days .day {
  float: left;
  width: calc(100% / 7 - 4px);
  text-align: center;
  margin: 2px;
  color: #888888;
}
.clndr-days {
  margin-top: 4px;
}
.clndr-days .day {
  margin: 3px 2px;
  padding: 1px 0;
  border-radius: 2px;
  border: 1px solid transparent;
}
.clndr-days .day:hover {
  background-color: #d3f4f8;
}
.clndr-days .day.calendar-dow-5,
.clndr-days .day.calendar-dow-6 {
  background-color: #fff0cc;
}
.clndr-days .day.calendar-dow-5:hover,
.clndr-days .day.calendar-dow-6:hover {
  background-color: #fff0cc;
  border: 1px solid #e84e40;
}
.clndr-days .day.past,
.clndr-days .day.adjacent-month {
  color: #bbbbbb;
}
.clndr-days .day.clndr-holiday {
  background-color: #fadcd9;
}
.clndr-days .day.clndr-holiday:hover {
  background-color: #fadcd9;
  border: 1px solid #e84e40;
}
