.sc-container-outerFrame {
  min-width: 1132px;
  max-width: 1632px;
  padding: 0 24px;
  margin: 0 auto 1px auto;
  position: relative;
  z-index: 1;
  margin-top: 44px;
}
.sc-container {
  width: 100%;
  position: relative;
}
.sc-title-borderLeft {
  font-size: 16px;
  font-weight: bold;
  border-left: 4px solid #3e50b4;
  padding-left: 8px;
  line-height: 16px;
}
.sc-cursor-point {
  cursor: pointer;
}
.sc-negative-zIndex {
  z-index: -1000 !important;
}
.sc-split-line {
  border-top: 1px solid #dddddd;
  width: 100%;
}
.sc-m-l-minus-12 {
  margin-left: -12px;
}
.sc-single-container {
  padding: 16px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.sc-col-md-4-4 {
  width: 11.11111111% !important;
}
.sc-col-md-4-8 {
  width: 88.88888889% !important;
}
.sc-border-h {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.sc-border-v {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.sc-bg-warning-lv3 {
  background-color: #fcead2;
}
.sc-bg-success-lv3 {
  background-color: #dff2d4;
}
.bh-header-bg {
  height: 320px;
  background-color: #3e50b4;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.bh-header,
.bh-header-mini {
  background-color: #3e50b4;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: hidden;
}
.bh-header {
  position: absolute;
  opacity: 1;
}
.bh-header-mini {
  position: fixed;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28);
}
.bh-header-mini {
  top: -24px;
}
.bh-header-mini .bh-headerBar {
  height: 24px;
  padding: 0;
}
.bh-header-mini .bh-headerBar-title {
  font-size: 16px;
  padding: 2px 0;
}
.bh-header-mini .bh-headerBar-iconBlock .iconfont {
  font-size: 16px;
}
.bh-header-mini .bh-headerBar-imgBlock {
  margin-top: 0;
}
.bh-header-mini .bh-headerBar-imgBlock img {
  width: 20px;
  height: 20px;
}
.bh-header-mini .bh-headerBar-logo {
  height: 20px;
  margin-top: 2px;
}
.bh-header-mini .bh-headerBar-logo img {
  height: 20px;
}
.bh-headerBar {
  height: 44px;
  padding: 8px 0;
  overflow: hidden;
}
.bh-headerBar-content {
  min-width: 1132px;
  max-width: 1632px;
  padding: 0 24px;
  margin: 0 auto 1px auto;
}
.bh-headerBar-logo {
  float: left;
  height: 36px;
  margin: -6px 8px 0 0;
}
.bh-headerBar-logo img {
  height: 36px;
}
.bh-headerBar-menu {
  float: right;
}
.bh-headerBar-menu:after {
  content: "";
  clear: both;
  display: table;
}
.bh-headerBar-iconBlock {
  float: right;
  color: #ffffff;
  padding: 3px 5px;
  border-radius: 4px;
  width: 28px;
  height: 28px;
}
.bh-headerBar-iconBlock .iconfont {
  font-size: 18px;
}
.bh-headerBar-iconBlock:hover {
  background-color: rgba(0, 0, 0, 0.16);
}
.bh-headerBar-navigate {
  float: right;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.16);
  padding: 10px 0;
  margin: -11px 16px 0 0;
  position: relative;
}
.bh-headerBar-nav-item {
  float: left;
  padding: 2px 16px;
  cursor: pointer;
}
.bh-headerBar-nav-item.bh-active {
  color: #ffffff;
}
.bh-headerBar-nav-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: #ef971c;
}
.bh-headerBar-imgBlock {
  padding: 0 4px 0 0;
  float: right;
}
.bh-headerBar-imgBlock img {
  width: 28px;
  height: 28px;
}
.bh-headerBar-title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  float: left;
}
/**角色切换**/
.bh-headerBar-roleSwitch {
  position: relative;
  float: right;
  background-color: rgba(0, 0, 0, 0.16);
  color: #ffffff;
  height: 28px;
  padding: 4px 28px 4px 8px;
  cursor: pointer;
}
.bh-headerBar-roleSwitch:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 8px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #fff;
}
/** 头部动画 start **/
.bh-header-animate {
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  transition: height 0.5s;
}
.bh-single-animate {
  -webkit-transition: all 0.45s;
  -moz-transition: all 0.45s;
  -ms-transition: all 0.45s;
  -o-transition: all 0.45s;
  transition: all 0.45s;
}
@-webkit-keyframes bh-headerBg-hide {
  0% {
    height: 320px;
  }
  50% {
    height: 0;
  }
  100% {
    height: 0;
  }
}
@keyframes bh-headerBg-hide {
  0% {
    height: 320px;
  }
  50% {
    height: 0;
  }
  100% {
    height: 0;
  }
}
.bh-headerBg-hide {
  -webkit-animation-name: bh-headerBg-hide;
  animation-name: bh-headerBg-hide;
}
@-webkit-keyframes bh-headerBg-show {
  0% {
    height: 0;
  }
  50% {
    height: 320px;
  }
  100% {
    height: 320px;
  }
}
@keyframes bh-headerBg-show {
  0% {
    height: 0;
  }
  50% {
    height: 320px;
  }
  100% {
    height: 320px;
  }
}
.bh-headerBg-show {
  -webkit-animation-name: bh-headerBg-show;
  animation-name: bh-headerBg-show;
}
@-webkit-keyframes bh-miniHeader-show {
  0% {
    top: -24px;
  }
  50% {
    top: -24px;
  }
  75% {
    top: 0;
  }
  100% {
    top: 0;
  }
}
@keyframes bh-miniHeader-show {
  0% {
    top: -24px;
  }
  50% {
    top: -24px;
  }
  75% {
    top: 0;
  }
  100% {
    top: 0;
  }
}
.bh-miniHeader-show {
  -webkit-animation-name: bh-miniHeader-show;
  animation-name: bh-miniHeader-show;
}
@-webkit-keyframes bh-miniHeader-hide {
  0% {
    top: 0;
  }
  50% {
    top: -24px;
  }
  100% {
    top: -24px;
  }
}
@keyframes bh-miniHeader-hide {
  0% {
    top: 0;
  }
  50% {
    top: -24px;
  }
  100% {
    top: -24px;
  }
}
.bh-miniHeader-hide {
  -webkit-animation-name: bh-miniHeader-hide;
  animation-name: bh-miniHeader-hide;
}
@-webkit-keyframes bh-normalHeader-hide {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bh-normalHeader-hide {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.bh-normalHeader-hide {
  -webkit-animation-name: bh-normalHeader-hide;
  animation-name: bh-normalHeader-hide;
}
@-webkit-keyframes bh-normalHeader-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bh-normalHeader-show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.bh-normalHeader-show {
  -webkit-animation-name: bh-normalHeader-show;
  animation-name: bh-normalHeader-show;
}
/** 头部动画 end **/
/** 头部换肤 begin**/
.bh-header-themelist {
  position: absolute;
  top: 0;
  z-index: 9999;
  display: none;
}
.bh-header-themelist ul {
  list-style: none;
}
.bh-header-themelist li {
  padding-left: 12px;
  padding-right: 12px;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  color: #333333;
}
.bh-header-themelist li.bh-active,
.bh-header-themelist li.bh-selected {
  background: #eef7fe;
  color: #2196f3;
  font-weight: bold;
}
.bh-header-colorCard-blueTheme,
.bh-header-colorCard-bluePrimary,
.bh-header-colorCard-blueSuccess,
.bh-header-colorCard-blueWarning,
.bh-header-colorCard-blueDanger,
.bh-header-colorCard-purpleTheme,
.bh-header-colorCard-purplePrimary,
.bh-header-colorCard-purpleSuccess,
.bh-header-colorCard-purpleWarning,
.bh-header-colorCard-purpleDanger {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #3e50b4;
  margin-right: 2px;
  float: left;
  margin-top: 10px;
}
.bh-header-colorCard-bluePrimary {
  background-color: #2196f3;
}
.bh-header-colorCard-blueSuccess {
  background-color: #60be29;
}
.bh-header-colorCard-blueWarning {
  background-color: #ef971c;
}
.bh-header-colorCard-blueDanger {
  background-color: #e24034;
}
.bh-header-colorCard-purpleTheme {
  background-color: #734184;
}
.bh-header-colorCard-purplePrimary {
  background-color: #7986cb;
}
.bh-header-colorCard-purpleSuccess {
  background-color: #51b8ae;
}
.bh-header-colorCard-purpleWarning {
  background-color: #ffc106;
}
.bh-header-colorCard-purpleDanger {
  background-color: #ec407a;
}
.bh-header-colorCard-text {
  float: left;
  margin-right: 8px;
}
/** 头部换肤 end**/
/*****  头部动画基础样式 start ******/
/*****  头部动画基础样式 end ******/
.bh-border-none {
  border: none !important;
}
.bh-border-h {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.bh-paper-pile-dialog {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
}
.bh-paper-pile-closeIcon {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1;
  cursor: pointer;
}
.bh-paper-pile-dialog-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.bh-paper-pile-body {
  margin-top: 68px;
  background: #ffffff;
  padding: 0 16px;
}
.bh-paper-pile-dialog-footer {
  display: none;
  position: absolute;
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px 7%;
  background-color: #ffffff;
}
.bh-paper-pile-dialog-headerTitle,
.bh-paper-pile-dialog-parentTitle {
  position: absolute;
  width: 100%;
  height: 68px;
  color: #333333;
  font-size: 24px;
  background-color: #ffffff;
  padding: 22px 16px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.bh-paper-pile-dialog-headerTitle.bh-paper-pile-dialog-parentTitle-change,
.bh-paper-pile-dialog-parentTitle.bh-paper-pile-dialog-parentTitle-change {
  cursor: pointer;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.28);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.28);
}
.bh-paper-pile-dialog-headerTitle.bh-paper-pile-dialog-parentTitle-change:hover,
.bh-paper-pile-dialog-parentTitle.bh-paper-pile-dialog-parentTitle-change:hover {
  background-color: #5d6cc0;
  color: #ffffff;
  font-weight: bold;
}
.bh-negative-zIndex {
  z-index: -1000 !important;
}
.bh-cursor-point {
  cursor: pointer;
}
.bh-animated-doubleTime {
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bh-paper-pile-dialog-parentTitle-toSmall {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  38% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    height: 68px;
    font-size: 24px;
    color: #333333;
    padding: 22px 16px;
    background-color: #ffffff;
  }
  80% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    height: 32px;
    background-color: #7c88cc;
    font-size: 16px;
    color: #f0f1f9;
    padding: 6px 16px;
    border-color: transparent;
  }
  100% {
    -webkit-transform: scaleX(0.96);
    transform: scaleX(0.96);
    height: 32px;
    background-color: #7c88cc;
    font-size: 16px;
    color: #f0f1f9;
    padding: 6px 16px;
    border-color: transparent;
  }
}
@keyframes bh-paper-pile-dialog-parentTitle-toSmall {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  38% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    height: 68px;
    font-size: 24px;
    color: #333333;
    padding: 22px 16px;
    background-color: #ffffff;
  }
  80% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    height: 32px;
    background-color: #7c88cc;
    font-size: 16px;
    color: #f0f1f9;
    padding: 6px 16px;
    border-color: transparent;
  }
  100% {
    -webkit-transform: scaleX(0.96);
    transform: scaleX(0.96);
    height: 32px;
    background-color: #7c88cc;
    font-size: 16px;
    color: #f0f1f9;
    padding: 6px 16px;
    border-color: transparent;
  }
}
.bh-paper-pile-dialog-parentTitle-toSmall {
  -webkit-animation-name: bh-paper-pile-dialog-parentTitle-toSmall;
  animation-name: bh-paper-pile-dialog-parentTitle-toSmall;
}
@-webkit-keyframes bh-paper-pile-dialog-parentTitle-toRestore {
  0% {
    -webkit-transform: scaleX(0.96);
    transform: scaleX(0.96);
    height: 32px;
    background-color: #7c88cc;
    font-size: 16px;
    color: #f0f1f9;
    padding: 6px 16px;
    border-color: transparent;
  }
  32% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    height: 32px;
    background-color: #7c88cc;
    font-size: 16px;
    color: #f0f1f9;
    padding: 6px 16px;
    border-color: transparent;
  }
  58% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    height: 68px;
    font-size: 24px;
    color: #333333;
    padding: 22px 16px;
    background-color: #ffffff;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    height: 68px;
    font-size: 24px;
    color: #333333;
    padding: 22px 16px;
    background-color: #ffffff;
  }
}
@keyframes bh-paper-pile-dialog-parentTitle-toRestore {
  0% {
    -webkit-transform: scaleX(0.96);
    transform: scaleX(0.96);
    height: 32px;
    background-color: #7c88cc;
    font-size: 16px;
    color: #f0f1f9;
    padding: 6px 16px;
    border-color: transparent;
  }
  32% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    height: 32px;
    background-color: #7c88cc;
    font-size: 16px;
    color: #f0f1f9;
    padding: 6px 16px;
    border-color: transparent;
  }
  58% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    height: 68px;
    font-size: 24px;
    color: #333333;
    padding: 22px 16px;
    background-color: #ffffff;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    height: 68px;
    font-size: 24px;
    color: #333333;
    padding: 22px 16px;
    background-color: #ffffff;
  }
}
.bh-paper-pile-dialog-parentTitle-toRestore {
  -webkit-animation-name: bh-paper-pile-dialog-parentTitle-toRestore;
  animation-name: bh-paper-pile-dialog-parentTitle-toRestore;
}
@-webkit-keyframes bh-paper-pile-dialog-outDown {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  32% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  62% {
    opacity: 1;
    -webkit-transform: translate3d(0, 68px, 0);
    transform: translate3d(0, 68px, 0);
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes bh-paper-pile-dialog-outDown {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  32% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  62% {
    opacity: 1;
    -webkit-transform: translate3d(0, 68px, 0);
    transform: translate3d(0, 68px, 0);
  }
  70% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.bh-paper-pile-dialog-outDown {
  -webkit-animation-name: bh-paper-pile-dialog-outDown;
  animation-name: bh-paper-pile-dialog-outDown;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}
@-webkit-keyframes bh-paper-pile-dialog-intoUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bh-paper-pile-dialog-intoUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.bh-paper-pile-dialog-intoUp {
  -webkit-animation-name: bh-paper-pile-dialog-intoUp;
  animation-name: bh-paper-pile-dialog-intoUp;
}
.bh-form-outline {
  position: absolute;
  z-index: 200;
  width: 256px;
  border-left: 2px solid #eeeeee;
  font-size: 14px;
  font-weight: bold;
  opacity: 0;
}
.bh-form-outline-item {
  height: 28px;
  padding: 5px 8px 5px 16px;
  position: relative;
  cursor: pointer;
}
.bh-form-outline-item.bh-active:before {
  content: "";
  position: absolute;
  height: 100%;
  border-left: 4px solid #2196f3;
  left: -2px;
  top: 0;
}
.bh-form-outline-item.bh-active .bh-form-outline-itemText {
  color: #2196f3;
}
.bh-form-outline-item:hover {
  background-color: #eef7fe;
}
.bh-form-outline-itemIndex {
  color: #bbbbbb;
}
.bh-form-outline-itemText {
  color: #666666;
  margin-right: 8px;
}
.bh-form-outline-itemCount {
  font-size: 12px;
  font-weight: normal;
  color: #bbbbbb;
}
.bh-form-outline-itemCount.bh-success {
  color: #60be29;
}
.bh-animated-doubleTime {
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bh-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bh-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.bh-fadeIn {
  -webkit-animation-name: bh-fadeIn;
  animation-name: bh-fadeIn;
}
@-webkit-keyframes bh-fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bh-fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.bh-fadeOut {
  -webkit-animation-name: bh-fadeOut;
  animation-name: bh-fadeOut;
}
.bh-property-dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.bh-property-dialog-container {
  position: absolute;
  right: 1px;
  top: 0;
  width: 384px;
  padding: 24px 16px 0 16px;
  background-color: #ffffff;
  z-index: 1000 !important;
  height: 100%;
}
.bh-property-dialog-footer {
  position: absolute;
  bottom: 0;
  padding: 8px 50px;
  display: none;
}
.bh-property-dialog-footer:after {
  content: "";
  width: 384px;
  border-top: 1px solid #eeeeee;
  position: absolute;
  top: 0;
  left: -16px;
}
.bh-property-dialog-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  opacity: 0.5;
}
.bh-animated {
  -webkit-animation-duration: 0.45s;
  animation-duration: 0.45s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bh-property-dialog-cover-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes bh-property-dialog-cover-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
.bh-property-dialog-cover-fadeIn {
  -webkit-animation-name: bh-property-dialog-cover-fadeIn;
  animation-name: bh-property-dialog-cover-fadeIn;
}
@-webkit-keyframes bh-property-dialog-cover-fadeOut {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bh-property-dialog-cover-fadeOut {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.bh-property-dialog-cover-fadeOut {
  -webkit-animation-name: bh-property-dialog-cover-fadeOut;
  animation-name: bh-property-dialog-cover-fadeOut;
}
@-webkit-keyframes bh-outRight {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes bh-outRight {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
.bh-outRight {
  -webkit-animation-name: bh-outRight;
  animation-name: bh-outRight;
}
@-webkit-keyframes bh-outDown {
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes bh-outDown {
  100% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.bh-outDown {
  -webkit-animation-name: bh-outDown;
  animation-name: bh-outDown;
}
@-webkit-keyframes bh-intoRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bh-intoRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
.bh-intoRight {
  -webkit-animation-name: bh-intoRight;
  animation-name: bh-intoRight;
}
@-webkit-keyframes bh-intoUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bh-intoUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
.bh-intoUp {
  -webkit-animation-name: bh-intoUp;
  animation-name: bh-intoUp;
}
